node-red/flows.json
[{"id":"b1b92bb.2162d58","type":"tab","label":"People","disabled":false,"info":""},{"id":"1ee6aaf5.11004d","type":"tab","label":"Exterior Lighting","disabled":false,"info":""},{"id":"a8cb8783.54e7e","type":"tab","label":"Climate","disabled":false,"info":""},{"id":"9979973d.f79ff8","type":"tab","label":"Shades","disabled":false,"info":""},{"id":"84fa272.dbb8ed8","type":"tab","label":"Brian","disabled":false,"info":""},{"id":"b4b439ed.b37168","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"299f85fb.75b532","type":"mqtt-broker","z":"","name":"hassio","broker":"172.16.80.60","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"2","closeRetain":"false","closePayload":"","willTopic":"","willQos":"2","willRetain":"false","willPayload":""},{"id":"e9f7d705.6bf738","type":"server-state-changed","z":"b1b92bb.2162d58","name":"Kevin Home","server":"b4b439ed.b37168","entityidfilter":"person.kevin","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":140,"wires":[["1c96ee04.692be2"]]},{"id":"6af554eb.ef43a4","type":"server-state-changed","z":"b1b92bb.2162d58","name":"Andrea Home","server":"b4b439ed.b37168","entityidfilter":"person.andrea","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":280,"wires":[["c494a66d.e7951"]]},{"id":"fd622971.029ca8","type":"server-state-changed","z":"b1b92bb.2162d58","name":"Kevin Home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.kevin_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":660,"wires":[["9f7845a5.125be8"],[]]},{"id":"2b4be50c.c87ee2","type":"server-state-changed","z":"b1b92bb.2162d58","name":"Andrea Home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.andrea_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":720,"wires":[["9f7845a5.125be8"],[]]},{"id":"9f7845a5.125be8","type":"api-call-service","z":"b1b92bb.2162d58","name":"Home/On","server":"b4b439ed.b37168","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":620,"wires":[[]]},{"id":"bb376c69.da6588","type":"api-current-state","z":"b1b92bb.2162d58","name":"Andrea Home","server":"b4b439ed.b37168","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.andrea_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":540,"wires":[["7bbe1451.120184"],[]]},{"id":"a2b72c52.a1f0e","type":"api-current-state","z":"b1b92bb.2162d58","name":"Kevin Home","server":"b4b439ed.b37168","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.kevin_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":600,"wires":[["7bbe1451.120184"],[]]},{"id":"7bbe1451.120184","type":"api-current-state","z":"b1b92bb.2162d58","name":"House Guests","server":"b4b439ed.b37168","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":560,"wires":[["647c8af5.43f954"],[]]},{"id":"647c8af5.43f954","type":"api-call-service","z":"b1b92bb.2162d58","name":"Away/Off","server":"b4b439ed.b37168","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":560,"wires":[[]]},{"id":"57130301.5fb964","type":"server-state-changed","z":"b1b92bb.2162d58","name":"Kevin Home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.kevin_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":540,"wires":[["bb376c69.da6588"],[]]},{"id":"a57be70f.45373","type":"server-state-changed","z":"b1b92bb.2162d58","name":"Andrea Home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.andrea_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":600,"wires":[["a2b72c52.a1f0e"],[]]},{"id":"1c96ee04.692be2","type":"switch","z":"b1b92bb.2162d58","name":"home/not_home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":140,"wires":[["22742a15.bbc7ae"],["3ef06307.f11314"]]},{"id":"22742a15.bbc7ae","type":"api-call-service","z":"b1b92bb.2162d58","name":"Away/Off","server":"b4b439ed.b37168","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.kevin_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":100,"wires":[[]]},{"id":"3ef06307.f11314","type":"api-call-service","z":"b1b92bb.2162d58","name":"Home/On","server":"b4b439ed.b37168","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.kevin_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":160,"wires":[[]]},{"id":"c494a66d.e7951","type":"switch","z":"b1b92bb.2162d58","name":"home/not_home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":280,"wires":[["b1925d1c.9d0a1"],["3f736fdb.14d128"]]},{"id":"3f736fdb.14d128","type":"api-call-service","z":"b1b92bb.2162d58","name":"Home/On","server":"b4b439ed.b37168","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.andrea_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":300,"wires":[[]]},{"id":"b1925d1c.9d0a1","type":"api-call-service","z":"b1b92bb.2162d58","name":"Away/Off","server":"b4b439ed.b37168","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.andrea_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":240,"wires":[[]]},{"id":"9344b0aa.206e2","type":"server-state-changed","z":"b1b92bb.2162d58","name":"House Guests","server":"b4b439ed.b37168","entityidfilter":"input_boolean.house_guests","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":480,"wires":[["fabe076a.16c56"]]},{"id":"fabe076a.16c56","type":"switch","z":"b1b92bb.2162d58","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":480,"wires":[["ccd7f102.0dc1c"],["9f7845a5.125be8"]]},{"id":"1ffaaeae.c94dd1","type":"api-current-state","z":"b1b92bb.2162d58","name":"Andrea Home","server":"b4b439ed.b37168","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.andrea_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":460,"wires":[["647c8af5.43f954"],[]]},{"id":"ccd7f102.0dc1c","type":"api-current-state","z":"b1b92bb.2162d58","name":"Kevin Home","server":"b4b439ed.b37168","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.kevin_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":460,"wires":[["1ffaaeae.c94dd1"],[]]},{"id":"386626b0.63deaa","type":"comment","z":"b1b92bb.2162d58","name":"Push states into variables","info":"","x":170,"y":60,"wires":[]},{"id":"f9d625df.93697","type":"comment","z":"b1b92bb.2162d58","name":"Handle Presense Changes","info":"","x":170,"y":400,"wires":[]},{"id":"f962c781.9bf448","type":"mqtt out","z":"1ee6aaf5.11004d","name":"Porch/Garage Light","topic":"front_exterior/cmnd/POWER","qos":"2","retain":"false","broker":"299f85fb.75b532","x":810,"y":40,"wires":[]},{"id":"6f0f997e.d6ce4","type":"server-state-changed","z":"1ee6aaf5.11004d","name":"home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":40,"wires":[["b1d91438.ef9b08"],[]]},{"id":"6bef0527.cbfd84","type":"server-state-changed","z":"1ee6aaf5.11004d","name":"away","server":"b4b439ed.b37168","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":120,"wires":[["306d59d4.18a8c6"],[]]},{"id":"76b0284.b8acd58","type":"eztimer","z":"1ee6aaf5.11004d","name":"Dusk/Dawn","autoname":"dusk - sunriseEnd","suspended":false,"sendEventsOnSuspend":false,"lat":"43.08408","lon":"-85.48331","timerType":"1","startupMessage":false,"ontype":"1","ontimesun":"dusk","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"ON","onoffset":0,"onrandomoffset":true,"offtype":"1","offtimesun":"sunriseEnd","offtimetod":"dusk","offduration":0,"offproperty":"payload","offvaluetype":"str","offvalue":"OFF","offoffset":"-30","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":410,"y":120,"wires":[["f962c781.9bf448"]]},{"id":"32e3b8e.e5e0cc8","type":"eztimer","z":"1ee6aaf5.11004d","name":"Dusk/2:00","autoname":"dusk - 02:00","suspended":false,"sendEventsOnSuspend":false,"lat":"43.08408","lon":"-85.48331","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"dusk","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"ON","onoffset":"-30","onrandomoffset":false,"offtype":"2","offtimesun":"sunriseEnd","offtimetod":"02:00","offduration":0,"offproperty":"payload","offvaluetype":"str","offvalue":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":410,"y":40,"wires":[["f962c781.9bf448"]]},{"id":"306d59d4.18a8c6","type":"change","z":"1ee6aaf5.11004d","name":"info","rules":[{"t":"set","p":"payload","pt":"msg","to":"info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":120,"wires":[["76b0284.b8acd58"]]},{"id":"b1d91438.ef9b08","type":"change","z":"1ee6aaf5.11004d","name":"info","rules":[{"t":"set","p":"payload","pt":"msg","to":"info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":40,"wires":[["32e3b8e.e5e0cc8"]]},{"id":"acfe7073.fda74","type":"server-state-changed","z":"a8cb8783.54e7e","name":"home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":60,"wires":[["1e4362b3.bda325"],[]]},{"id":"3a44cc64.111e64","type":"server-state-changed","z":"a8cb8783.54e7e","name":"away","server":"b4b439ed.b37168","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":140,"wires":[["c977f81e.2615d8"],[]]},{"id":"1e4362b3.bda325","type":"api-call-service","z":"a8cb8783.54e7e","name":"Resume Program","server":"b4b439ed.b37168","service_domain":"climate","service":"ecobee_resume_program","data":"{\"entity_id\":\"climate.main_floor\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":60,"wires":[[]]},{"id":"daacb8c4.e86868","type":"api-call-service","z":"a8cb8783.54e7e","name":"Set Away","server":"b4b439ed.b37168","service_domain":"climate","service":"set_away_mode","data":"{\"entity_id\":\"climate.main_floor\",\"away_mode\":\"true\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":140,"wires":[[]]},{"id":"8ea3fd17.7d384","type":"server-state-changed","z":"9979973d.f79ff8","name":"home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":70,"y":60,"wires":[["2582f251.462786"],[]]},{"id":"4e88810e.03add","type":"eztimer","z":"9979973d.f79ff8","name":"Weekday","autoname":"dawn - sunsetStart","suspended":false,"sendEventsOnSuspend":false,"lat":"43.08408","lon":"-85.48331","timerType":"1","startupMessage":false,"ontype":"1","ontimesun":"dawn","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"ON","onoffset":"60","onrandomoffset":false,"offtype":"1","offtimesun":"sunsetStart","offtimetod":"02:00","offduration":0,"offproperty":"payload","offvaluetype":"str","offvalue":"OFF","offoffset":"15","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":360,"y":60,"wires":[["6a8e004e.78b6"]]},{"id":"2582f251.462786","type":"change","z":"9979973d.f79ff8","name":"info","rules":[{"t":"set","p":"payload","pt":"msg","to":"info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":60,"wires":[["4e88810e.03add","6e9844f6.2ab024"]]},{"id":"6ea6b23b.ad78b4","type":"api-call-service","z":"9979973d.f79ff8","name":"Favorite Height","server":"b4b439ed.b37168","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.41101\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":60,"wires":[[]]},{"id":"ad39778a.5e92e","type":"switch","z":"9979973d.f79ff8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":60,"wires":[["6ea6b23b.ad78b4"],["6bfec961.86c688"]]},{"id":"6bfec961.86c688","type":"api-call-service","z":"9979973d.f79ff8","name":"Lower All","server":"b4b439ed.b37168","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.8286\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":260,"wires":[[]]},{"id":"89eb98.783bd468","type":"server-state-changed","z":"9979973d.f79ff8","name":"away","server":"b4b439ed.b37168","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":260,"wires":[["5e8477ef.a303a8"],[]]},{"id":"c977f81e.2615d8","type":"delay","z":"a8cb8783.54e7e","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":140,"wires":[["1339b2cc.608ce5"]]},{"id":"1339b2cc.608ce5","type":"api-current-state","z":"a8cb8783.54e7e","name":"home/away","server":"b4b439ed.b37168","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":140,"wires":[["daacb8c4.e86868"],[]]},{"id":"5e8477ef.a303a8","type":"delay","z":"9979973d.f79ff8","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":260,"wires":[["5391f3e8.d0a2cc"]]},{"id":"5391f3e8.d0a2cc","type":"api-current-state","z":"9979973d.f79ff8","name":"home/away","server":"b4b439ed.b37168","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":260,"wires":[["6bfec961.86c688"],[]]},{"id":"6a8e004e.78b6","type":"delay","z":"9979973d.f79ff8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":60,"wires":[["ad39778a.5e92e"]]},{"id":"6e9844f6.2ab024","type":"eztimer","z":"9979973d.f79ff8","name":"Weekend","autoname":"dawn - sunsetStart","suspended":false,"sendEventsOnSuspend":false,"lat":"43.08408","lon":"-85.48331","timerType":"1","startupMessage":false,"ontype":"1","ontimesun":"dawn","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"ON","onoffset":"60","onrandomoffset":false,"offtype":"1","offtimesun":"sunsetStart","offtimetod":"02:00","offduration":0,"offproperty":"payload","offvaluetype":"str","offvalue":"OFF","offoffset":"15","offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"sun":true,"x":360,"y":120,"wires":[["39c42554.6c486a"]]},{"id":"39c42554.6c486a","type":"delay","z":"9979973d.f79ff8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":120,"wires":[["d85124f6.de8df8"]]},{"id":"d85124f6.de8df8","type":"switch","z":"9979973d.f79ff8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":120,"wires":[["a6b87908.cc0d08"],["6bfec961.86c688"]]},{"id":"a6b87908.cc0d08","type":"api-call-service","z":"9979973d.f79ff8","name":"Vanes Open","server":"b4b439ed.b37168","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.5638\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":120,"wires":[[]]},{"id":"6d594bf7.3e8fc4","type":"comment","z":"9979973d.f79ff8","name":"Close when we're all gone","info":"","x":130,"y":220,"wires":[]},{"id":"66a41389.8caad4","type":"comment","z":"9979973d.f79ff8","name":"Schedule","info":"","x":80,"y":20,"wires":[]},{"id":"84649c40.0b6d18","type":"delay","z":"9979973d.f79ff8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":360,"wires":[["4f5de1ef.2589f8"]]},{"id":"4f5de1ef.2589f8","type":"api-current-state","z":"9979973d.f79ff8","name":"home/away","server":"b4b439ed.b37168","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":360,"wires":[["a6b87908.cc0d08"],[]]},{"id":"34609a77.b07dae","type":"server-state-changed","z":"9979973d.f79ff8","name":"home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":360,"wires":[["61cb07ba.b0ecb"],[]]},{"id":"ee6232b5.346998","type":"comment","z":"9979973d.f79ff8","name":"Open when we're back","info":"","x":120,"y":320,"wires":[]},{"id":"82a8b6ca.f35f8","type":"server-state-changed","z":"84fa272.dbb8ed8","name":"home","server":"b4b439ed.b37168","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":60,"wires":[["b313a3d4.c2ec1"],[]]},{"id":"b07a2b3f.f3211","type":"eztimer","z":"84fa272.dbb8ed8","name":"Weekday","autoname":"07:25 - 07:40","suspended":false,"sendEventsOnSuspend":false,"lat":"43.08408","lon":"-85.48331","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"07:25","onproperty":"payload","onvaluetype":"str","onvalue":"DRESSED","onoffset":"","onrandomoffset":false,"offtype":"2","offtimesun":"sunsetStart","offtimetod":"07:40","offduration":0,"offproperty":"payload","offvaluetype":"str","offvalue":"BUS","offoffset":"","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":360,"y":60,"wires":[["5e07be2e.f39778"]]},{"id":"b313a3d4.c2ec1","type":"change","z":"84fa272.dbb8ed8","name":"info","rules":[{"t":"set","p":"payload","pt":"msg","to":"info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":60,"wires":[["b07a2b3f.f3211"]]},{"id":"5e07be2e.f39778","type":"switch","z":"84fa272.dbb8ed8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"DRESSED","vt":"str"},{"t":"eq","v":"BUS","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":160,"wires":[["cab4e410.a3fed"],["eaa9b3ad.50d168"]]},{"id":"a04285d3.d5c5b","type":"api-call-service","z":"84fa272.dbb8ed8","name":"Set Volume","server":"b4b439ed.b37168","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.family_room_dot\",\"volume_level\":1}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":140,"wires":[["8b0198ad.9e7498"]]},{"id":"d916c548.e18e1","type":"api-call-service","z":"84fa272.dbb8ed8","name":"Set Volume","server":"b4b439ed.b37168","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.family_room_dot\",\"volume_level\":0.7}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":990,"y":240,"wires":[[]]},{"id":"8b0198ad.9e7498","type":"change","z":"84fa272.dbb8ed8","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":40,"wires":[["4170e0c8.9eb32"]]},{"id":"f0c07c5b.528b2","type":"change","z":"84fa272.dbb8ed8","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":180,"wires":[["d916c548.e18e1"]]},{"id":"64651557.d09a0c","type":"delay","z":"84fa272.dbb8ed8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":120,"wires":[["f0c07c5b.528b2"]]},{"id":"cab4e410.a3fed","type":"change","z":"84fa272.dbb8ed8","name":"Get Dressed","rules":[{"t":"set","p":"tts","pt":"msg","to":"It is 7:25. Get dressed for school!","tot":"str"},{"t":"set","p":"media_player","pt":"msg","to":"media_player.alexa_master_bath_sonos, media_player.alexa_garage_sonos, media_player.alexa_basement_sonos, media_player.family_room_dot, media_player.alexa_master_bedroom_sonos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["a04285d3.d5c5b"]]},{"id":"4170e0c8.9eb32","type":"function","z":"84fa272.dbb8ed8","name":"Payload","func":"msg.payload=\n{  \n   \"domain\":\"media_player\",\n   \"service\":\"alexa_tts\",\n   \"data\":{  \n      \"entity_id\":msg.media_player,\n      \"message\":msg.tts\n   }\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":40,"wires":[["25c9425f.1f4dc6"]]},{"id":"eaa9b3ad.50d168","type":"change","z":"84fa272.dbb8ed8","name":"Bus Stop","rules":[{"t":"set","p":"tts","pt":"msg","to":"It is 7:40. Time to get ready for the bus stop!","tot":"str"},{"t":"set","p":"media_player","pt":"msg","to":"media_player.alexa_master_bath_sonos, media_player.alexa_garage_sonos, media_player.alexa_basement_sonos, media_player.family_room_dot, media_player.alexa_master_bedroom_sonos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["a04285d3.d5c5b"]]},{"id":"25c9425f.1f4dc6","type":"api-call-service","z":"84fa272.dbb8ed8","name":"Call Service","server":"b4b439ed.b37168","service_domain":"","service":"","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":970,"y":40,"wires":[["64651557.d09a0c"]]},{"id":"57d2c041.e1a1e8","type":"comment","z":"84fa272.dbb8ed8","name":"Set Variables","info":"","x":490,"y":220,"wires":[]},{"id":"7addfe09.0cd028","type":"comment","z":"84fa272.dbb8ed8","name":"Decision Tree","info":"","x":270,"y":200,"wires":[]},{"id":"5799d28e.cdd444","type":"comment","z":"84fa272.dbb8ed8","name":"Max Volume","info":"","x":690,"y":200,"wires":[]},{"id":"1bca9dfc.7c7df2","type":"comment","z":"84fa272.dbb8ed8","name":"Format Payload from vars","info":"","x":770,"y":80,"wires":[]},{"id":"a6dd5bf8.51b858","type":"comment","z":"84fa272.dbb8ed8","name":"Set volume back to normal","info":"","x":1030,"y":300,"wires":[]},{"id":"61cb07ba.b0ecb","type":"api-current-state","z":"9979973d.f79ff8","name":"Dark?","server":"b4b439ed.b37168","outputs":2,"halt_if":"200","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.illuminance","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":360,"wires":[["84649c40.0b6d18"],[]]}]